[submodule "tinybvh_extension/tinybvh_extension/godot-cpp"]
	path = tinybvh_extension/tinybvh_extension/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "tinybvh_extension/godot-cpp"]
	path = tinybvh_extension/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
