[submodule "cpp/godot-cpp"]
	path = cpp/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "tinybvh_extension/extern/tinybvh"]
	path = tinybvh_extension/extern/tinybvh
	url = https://github.com/caleb-var/tinybvh_voxelblas.git
	branch = main
